body{
    margin: 0%;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.main{
    padding: 0 10%;
    background-color: #1F2937;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 40px;
    text-decoration: none;
}

a:hover{
    color: #3882F6;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.links{
    justify-items: center;
    padding-top: 18px;
}

.about-img{
    width: 500px;
    height: 350px;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about-text{
    width: 50%;
}

.about-text > h4{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.about-text > p{
    font-size: 18px;
    color: #E5E7EB;
}

.aboutbtn{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 20px;
    color: #E5E7EB;
}

.services{
    background-color: #F9FAF8;
    /* display: flex; */
}

.services >h4{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.images-display{
    display: flex;
    justify-content: space-evenly;
}

.images > img{
    width: 100px;  
    height: 100px;
}